@(games: Seq[GameMeta])

@main("Urban games") {
<div class="container">
    <h2>Current games</h2>
    <div class="container span7">
        <table class="table table-striped">
            <thead>
            <h4>
                <div class="span3">game id</div>
                <div class="span3">game name</div>
            </h4>
            </thead>
            <tbody>
            @games.map{ game =>
            <tr><td>
                <div class="span3">
                    @game.gameId
                </div>
                <div class="span3">
                    @game.name
                </div>
            </td></tr>
            }
            </tbody>
        </table>
    </div>
</div>
}